<div class='preloader'>
  <div class='loaded'>&nbsp;</div>
</div>
<!-- Sections -->
<section id="social" class="social">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="social-wrapper">
        <div class="col-md-6">
          <div class="social-icon">
            <a href="javascrip:void(0)"><i style="margin-right: 10px;" class="fab fa-facebook-f"></i></a>
            <a href="javascrip:void(0)"><i style="margin-right: 10px;" class="fab fa-twitter"></i></a>
            <a href="javascrip:void(0)"><i style="margin-right: 10px;" class="fab fa-google-plus-g"></i></a>
            <a href="javascrip:void(0)"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="social-contact">
            <a href="javascrip:void(0)"><i class="fas fa-phone"></i>&nbsp;(21)98740-4766 | (21)96414-9190</a>
            <a href="javascrip:void(0)"><i class="fas fa-envelope"></i>&nbsp;contato@dtconsultoria.com.br</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>
