<!-- Sections -->
<section id="price" class="price sections">


  <div class="head_title text-center">
    <h1>Affordable Services Package</h1>
    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
  </div>
  <!-- Example row of columns -->
  <div class="cd-pricing-container cd-has-margins">
    <div class="cd-pricing-switcher">
      <p class="fieldset">
        <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
        <label for="monthly-2">Business</label>
        <input type="radio" name="duration-2" value="yearly" id="yearly-2">
        <label for="yearly-2">Community</label>
        <span class="cd-switch"></span>
      </p>
    </div> <!-- .cd-pricing-switcher -->

    <ul class="cd-pricing-list cd-bounce-invert">
      <li>
        <ul class="cd-pricing-wrapper">
          <li data-type="monthly" class="is-visible">
            <header class="cd-pricing-header">
              <h2>Basic</h2>

              <div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">30</span>
                <span class="cd-duration">mo</span>
              </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
              <ul class="cd-pricing-features">
                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

              </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
              <a class="cd-select" href="#">Purchase</a>
            </footer>  <!-- .cd-pricing-footer -->
          </li>

          <li data-type="yearly" class="is-hidden">
            <header class="cd-pricing-header">
              <h2>Basic</h2>

              <div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">320</span>
                <span class="cd-duration">yr</span>
              </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
              <ul class="cd-pricing-features">
                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

              </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
              <a class="cd-select" href="#">Purchase</a>
            </footer>  <!-- .cd-pricing-footer -->
          </li>
        </ul> <!-- .cd-pricing-wrapper -->
      </li>

      <li class="cd-popular">
        <ul class="cd-pricing-wrapper">
          <li data-type="monthly" class="is-visible">
            <header class="cd-pricing-header">
              <h2>Popular</h2>
              <div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">60</span>
                <span class="cd-duration">mo</span>
              </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
              <ul class="cd-pricing-features">
                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

              </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
              <a class="cd-select" href="#">Purchase</a>
            </footer>  <!-- .cd-pricing-footer -->
          </li>

          <li data-type="yearly" class="is-hidden">
            <header class="cd-pricing-header">
              <h2>Popular</h2>

              <div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">630</span>
                <span class="cd-duration">yr</span>
              </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
              <ul class="cd-pricing-features">
                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

              </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
              <a class="cd-select" href="#">Purchase</a>
            </footer>  <!-- .cd-pricing-footer -->
          </li>
        </ul> <!-- .cd-pricing-wrapper -->
      </li>

      <li>
        <ul class="cd-pricing-wrapper">
          <li data-type="monthly" class="is-visible">
            <header class="cd-pricing-header">
              <h2>Premier</h2>

              <div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">90</span>
                <span class="cd-duration">mo</span>
              </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
              <ul class="cd-pricing-features">
                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

              </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
              <a class="cd-select" href="#">Purchase</a>
            </footer>  <!-- .cd-pricing-footer -->
          </li>

          <li data-type="yearly" class="is-hidden">
            <header class="cd-pricing-header">
              <h2>Premier</h2>

              <div class="cd-price">
                <span class="cd-currency">$</span>
                <span class="cd-value">950</span>
                <span class="cd-duration">yr</span>
              </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
              <ul class="cd-pricing-features">
                <li><em><i class="fa fa-check-circle"></i></em>20 Keyword</li>
                <li><em><i class="fa fa-remove"></i></em>No Time Tracking</li>
                <li><em><i class="fa fa-remove"></i></em>230 - Man Hour</li>
                <li><em><i class="fa fa-check-circle"></i></em>News Letter Available</li>

              </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
              <a class="cd-select" href="#">Purchase</a>
            </footer>  <!-- .cd-pricing-footer -->
          </li>
        </ul> <!-- .cd-pricing-wrapper -->
      </li>
    </ul> <!-- .cd-pricing-list -->
  </div> <!-- .cd-pricing-container -->

</section>
