<section id="footer-menu" class="sections footer-menu parallax-section">
  <div class="container">
    <div class="row">
      <div class="footer-menu-wrapper">

        <div class="col-md-12 col-sm-12 col-xs-12 single_right_contact">

          <div class="col-md-5 col-sm-6 col-xs-12">

            <p><i class="fas fa-phone"></i>&nbsp;Informações de contato</p>

            <span class="margin-top-20">Tel: (21)98740-4766 | (21)96414-9190</span>

            <div class="contact_address margin-top-40">

              <p><i class="fas fa-map-marker-alt"></i>&nbsp;Nossa Localização</p>
              <span>Av. Comendador Teles, 1758 Lt.3 Qd. 6</span>
              <span>Vilar dos Teles - Rio de Janeiro</span>
              <!--<span>M: (202) 456-1212</span>-->
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">

            <p>Horário de Atendimento</p>

            <div class="contact_socail_bookmark">
              <p><span>Seg a Sex: 09:00 - 18:00</span></p>
              <p><span>Sabado: 09:00 - 13:00</span></p>
            </div>
          </div>


          <div class="col-md-3 col-sm-6 col-xs-12">

            <p style="margin-left: 15px;">Social</p>

            <div class="contact_socail_bookmark">
              <a href="javascript:void(0)"><i class="fab fa-facebook-square fa-3x"></i></a>
              <a href="javascript:void(0)"><i class="fab fa-twitter-square fa-3x"></i></a>
              <a href="javascript:void(0)"><i class="fab fa-google-plus-square fa-3x"></i></a>
            </div>
          </div>

        </div>



        <!--<div class="menu-item">-->
        <!--<h5>Newsletter</h5>-->
        <!--<p>Insights await in your company's data. Bring them into focus with BlueLance.</p>-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Enter your email address">-->
        <!--<input type="submit" class="form-control" value="Use It Free">-->
        <!--</div>-->
        <!--</div>-->


      </div>
    </div>
  </div>
</section>


<!--Footer-->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="footer-brand">
            <img src="assets/images/logo-marca.jpg" alt="logo" />
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="">
            <p>Copyright © Developer Tech Consultoria

              | Design: Web Site</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>


<div class="scrollup">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>
