<!--Home page style-->
<header id="home" class="parallax-section home">
  <div class="overlay-fluid-block">
    <div class="container text-center">
      <div class="row">
        <div class="home-wrapper">
          <div class="col-md-10 col-md-offset-1">
            <div class="home-content">

              <h1>Traga seu negócio para a vida com a <br /> Dt Consultoria</h1>
              <p>Developer Tech transforma os dados da sua empresa em visuais ricos para você coletar e organizar
                para que você possa se concentrar no que importa para você. Mantenha-se informado,
                compare as tendências à medida que elas aconteçam e empurre seu negócio ainda mais.</p>

              <!--<div class="row">-->
                <!--<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">-->
                  <!--<div class="home-contact">-->
                    <!--<div class="input-group">-->
                      <!--<input type="text" class="form-control" placeholder="Entre com o seu email">-->
                      <!--<input type="submit" class="form-control" value="Use-o gratis">-->

                    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->


                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
